<p-card header="{{list.name}}">
  <p-header>
    <app-list-action-buttons [archived]="list.archived" (event)="handleActionButton($event)"></app-list-action-buttons>
  </p-header>
  <div *ngFor="let task of tasks">
    <app-list-item [task]="task"
                   [readonly]="list.archived"
                   (taskDeleted)="refreshTasks()"></app-list-item>
  </div>
  <app-new-task *ngIf="!list.archived"
                [listId]="list.id"
                (taskCreated)="refreshTasks()"></app-new-task>
</p-card>

<p-dialog header="Rename list"
          [(visible)]="renameDialog"
          [modal]="true"
          [draggable]="false"
          [resizable]="false">
  <input pInputText
         type="text"
         (keyup.enter)="renameList(list.id, listNameEdit.value)"
         [(ngModel)]="listNameModel"
         #listNameEdit
         placeholder="List name">
  <ng-template pTemplate="footer">
    <button pButton
            icon="pi pi-check"
            (click)="renameList(list.id, listNameEdit.value)"
            class="p-button-success"
            label="Save"></button>
    <button pButton
            icon="pi pi-times"
            (click)="this.renameDialog = false"
            class="p-button-danger"
            label="Discard"></button>
  </ng-template>
</p-dialog>
