<div class="p-d-flex p-jc-center">
  <p-menubar [model]="menuItems" id="navigation-bar"></p-menubar>
</div>

<p-dialog header="New list" [(visible)]="listCreateDialog" [draggable]="false" [resizable]="false">
  <input pInputText
         type="text"
         (keyup.enter)="createList(newListName.value)"
         [(ngModel)]="listNameModel"
         #newListName
         placeholder="List name">
  <ng-template pTemplate="footer">
    <button pButton
            icon="pi pi-check"
            (click)="createList(newListName.value)"
            class="p-button-success"
            label="Save"></button>
    <button pButton
            icon="pi pi-times"
            (click)="this.listCreateDialog = false"
            class="p-button-danger"
            label="Discard"></button>
  </ng-template>
</p-dialog>
