<div class="p-d-flex p-jc-center p-flex-wrap p-mt-5">
  <div *ngFor="let list of lists" class="p-mr-2 p-mt-5 w-20">
    <app-list [list]="list" (listChanged)="refreshLists()"></app-list>
  </div>
  <div *ngIf="!lists.length">
    No lists found!
  </div>
</div>
<app-navigation-bar (listCreated)="createList($event)"></app-navigation-bar>
