<div class="p-d-flex p-jc-end p-pt-3">
  <div *ngIf="!archived">
      <span class="p-mr-2 clickable"
            (click)="sendEvent(actions.RENAME)"
            pTooltip="Rename list"
            tooltipPosition="top">
        <i class="pi pi-pencil"></i>
      </span>
    <span class="p-mr-2 clickable"
          (click)="sendEvent(actions.ARCHIVE)"
          pTooltip="Archive list"
          tooltipPosition="top">
        <i class="pi pi-inbox"></i>
      </span>
  </div>
  <div *ngIf="archived">
  <span class="p-mr-3 clickable"
        (click)="sendEvent(actions.REVIVE)"
        pTooltip="Revive list"
        tooltipPosition="top">
    <i class="pi pi-upload"></i>
  </span>
  </div>
  <span class="p-mr-3 clickable"
        (click)="sendEvent(actions.DELETE)"
        pTooltip="Delete list"
        tooltipPosition="top">
        <i class="pi pi-trash"></i>
      </span>
</div>
