<div class="p-grid hover-shadow p-d-flex">
  <span class="p-col-2 p-col-order-first clickable p-as-center hover-green"
        (click)="toggleTaskState()"
        *ngIf="!readonly && !editActive">
    <i class="pi pi-check"></i>
  </span>
  <span class="p-col-7 editable p-as-center"
        [ngClass]="{'text-strike': task.completed}">
    <p-inplace #taskEdit
               [disabled]="task.completed"
               (onActivate)="editActive=true"
               (onDeactivate)="editActive=false">
    <ng-template pTemplate="display">
      {{task.value}}
    </ng-template>
    <ng-template pTemplate="content">
      <input type="text"
             pInputText
             #updatedTaskValue
             (keydown.enter)="changeTaskValue(updatedTaskValue.value)"
             (keyup.enter)="taskEdit.deactivate()"
             value="{{task.value}}"
             minlength="1">
    </ng-template>
    </p-inplace>
  </span>
  <span class="p-col-2 p-offset-1 p-col-order-last clickable p-as-center hover-red"
        (click)="deleteTask(task.id)"
        *ngIf="!readonly && !editActive">
    <i class="pi pi-trash"></i>
    </span>
</div>
