<p-dialog header="{{dialogHeader}}"
          [(visible)]="displayDialog"
          [modal]="true"
          [draggable]="false"
          [resizable]="false">
  <ng-content></ng-content>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check"
              (click)="sendAction(true)"
              class="p-button-success"
              label="{{successBtnLabel}}"></p-button>
    <p-button icon="pi pi-check"
              (click)="sendAction(false)"
              class="p-button-secondary"
              label="Discard"></p-button>
  </ng-template>
</p-dialog>
