/* You can add global styles to this file, and also import other style files */
.w-20
  width: 20vw

.clickable
  cursor: pointer
.editable
  cursor: text

.text-strike
  text-decoration: line-through

.hover-shadow
  &:hover
    background: #ffffff
    color: #495057
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12)
    border-radius: 3px
    z-index: 100
    transition-duration: .25s

.hover-green
  &:hover
    color: #18be5f
    transition-duration: .25s
.hover-red
  &:hover
    color: #ef1b38
    transition-duration: .25s

.hover-w
  &:hover
    background: #fff !important
